# URL base de la API del Backend
VITE_API_URL=http://localhost:4000/api

# Configuración de Stripe (Opcional - si se deja vacío se activa el simulador)
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_MOCK_PAYMENTS=true
